<section class="cards">
    <div class="cards__container container">
        <h2 class="cards__title">
            Become one of the 100 first <br /> customers with <span>free access.</span>
        </h2>
        <ul class="cards__block">
            <li class="cards__card first">
                <picture >
                    <source media="(min-width: 1728px)"  srcset="/img/cards/png/1728_redCard.png"   >
                    <source media="(min-width: 1512px)" srcset="/img/cards/png/1512_redCard.png"  >
                    <source media="(min-width: 1280px)"  srcset="/img/cards/png/1280_redCard.png" >
                    <source media="(min-width: 1180px)" srcset="/img/cards/png/1180_redCard.png"  >
                    <source media="(min-width: 834px)"  srcset="/img/cards/png/834_redCard.png" >
                    <source media="(min-width: 375px)" srcset="/img/cards/png/375_redCard.png"  >
                    <img  src="/img/cards/png/375_redCard.png" loading="lazy" alt="red card">
                </picture>
            </li>
            <li class="cards__card second">

                <picture >
                    <source media="(min-width: 1728px)" srcset="/img/cards/png/1728_orangeCard.png"   >
                    <source media="(min-width: 1512px)" srcset="/img/cards/png/1512_orangeCard.png"  >
                    <source media="(min-width: 1280px)"  srcset="/img/cards/png/1280_orangeCard.png" >
                    <source media="(min-width: 1180px)" srcset="/img/cards/png/1180_orangeCard.png"  >
                    <source media="(min-width: 834px)"  srcset="/img/cards/png/834_orangeCard.png" >
                    <source media="(min-width: 375px)" srcset="/img/cards/png/375_orangeCard.png"  >
                    <img  src="/img/cards/png/375_orangeCard.png" loading="lazy" alt="orange card">
                </picture>
            </li>
            <li class="cards__card third">
                <picture >
                    <source media="(min-width: 1728px)" srcset="/img/cards/png/1728_purpleCard.png"   >
                    <source media="(min-width: 1512px)" srcset="/img/cards/png/1512_purpleCard.png"  >
                    <source media="(min-width: 1280px)"  srcset="/img/cards/png/1280_purpleCard.png" >
                    <source media="(min-width: 1180px)" srcset="/img/cards/png/1180_purpleCard.png"  >
                    <source media="(min-width: 834px)"  srcset="/img/cards/png/834_purpleCard.png" >
                    <source media="(min-width: 375px)" srcset="/img/cards/png/375_purpleCard.png"  >
                    <img  src="/img/cards/png/375_purpleCard.png" loading="lazy" alt="purple card">
                </picture>
            </li>
            <li class="cards__card fourth">
                <picture >
                    <source media="(min-width: 1728px)" srcset="/img/cards/png/1728_greenCard.png"   >
                    <source media="(min-width: 1512px)" srcset="/img/cards/png/1512_greenCard.png"  >
                    <source media="(min-width: 1280px)"  srcset="/img/cards/png/1280_greenCard.png" >
                    <source media="(min-width: 1180px)" srcset="/img/cards/png/1180_greenCard.png"  >
                    <source media="(min-width: 834px)"  srcset="/img/cards/png/834_greenCard.png" >
                    <source media="(min-width: 375px)" srcset="/img/cards/png/375_greenCard.png"  >
                    <img  src="/img/cards/png/375_greenCard.png" loading="lazy" alt="green card">
                </picture>
            </li>
        </ul>
        <a class="cards__button button white" href="/"><span>Go Ahead!</span></a>

    </div>
</section>