<section class="features">
    <div class="features__container container">
        <h2 class="features__title">
            All features <span>at one touch</span>
        </h2>
        <div class="features__content">
            <div class="features__video-block">
                <div class="features__video-block--bg"></div>
                <video class="features__video-block--video" width="100%" autoplay muted playsinline >
                    <source media="(min-width: 1728px)" src="/files/features/screen5_1728x2.webm" type="video/webm">
                    <source media="(min-width: 1512px)" src="/files/features/screen5_1180-1280-1512x2.webm" type="video/webm">
                    <source media="(min-width: 1280px)" src="/files/features/screen5_1180-1280-1512x2.webm" type="video/webm">
                    <source media="(min-width: 1180px)" src="/files/features/screen5_1180-1280-1512x2.webm" type="video/webm">
                    <source media="(min-width: 834px)" src="/files/features/screen5_834x2.webm" type="video/webm">
                    <source media="(min-width: 375px)" src="/files/features/screen5_375x2.webm" type="video/webm">
                    <source src="/files/features/screen5_375x2.webm" type="video/webm">
                </video>
            </div>
            <ol class="features__tab-block">
                <li class="features__tab active">
                    <div class="features__tab--number">1</div>
                    Tap the
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.1752 0.341709C13.6308 -0.113903 14.3695 -0.113903 14.8251 0.341709L20.6585 6.17504C21.1141 6.63065 21.1141 7.36935 20.6585 7.82496C20.2028 8.28057 19.4641 8.28057 19.0085 7.82496L15.1668 3.98325V15.1667C15.1668 15.811 14.6445 16.3333 14.0002 16.3333C13.3558 16.3333 12.8335 15.811 12.8335 15.1667V3.98325L8.99179 7.82496C8.53618 8.28057 7.79748 8.28057 7.34187 7.82496C6.88626 7.36935 6.88626 6.63065 7.34187 6.17504L13.1752 0.341709ZM5.8335 12.25C5.18916 12.25 4.66683 12.7723 4.66683 13.4167V24.5C4.66683 24.8094 4.78975 25.1062 5.00854 25.325C5.22733 25.5438 5.52408 25.6667 5.8335 25.6667H22.1668C22.4762 25.6667 22.773 25.5438 22.9918 25.325C23.2106 25.1062 23.3335 24.8094 23.3335 24.5V13.4167C23.3335 12.7723 22.8112 12.25 22.1668 12.25H18.6668C18.0225 12.25 17.5002 11.7277 17.5002 11.0833C17.5002 10.439 18.0225 9.91667 18.6668 9.91667H22.1668C24.0998 9.91667 25.6668 11.4837 25.6668 13.4167V24.5C25.6668 25.4283 25.2981 26.3185 24.6417 26.9749C23.9853 27.6313 23.0951 28 22.1668 28H5.8335C4.90524 28 4.015 27.6313 3.35862 26.9749C2.70224 26.3185 2.3335 25.4283 2.3335 24.5V13.4167C2.3335 11.4837 3.9005 9.91667 5.8335 9.91667H9.3335C9.97783 9.91667 10.5002 10.439 10.5002 11.0833C10.5002 11.7277 9.97783 12.25 9.3335 12.25H5.8335Z"
                              fill="#A3A3A3" />
                    </svg>
                    on iOS or
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path
                                d="M15.75 5.25C15.75 4.2875 14.9625 3.5 14 3.5C13.0375 3.5 12.25 4.2875 12.25 5.25C12.25 6.2125 13.0375 7 14 7C14.9625 7 15.75 6.2125 15.75 5.25ZM15.75 22.75C15.75 21.7875 14.9625 21 14 21C13.0375 21 12.25 21.7875 12.25 22.75C12.25 23.7125 13.0375 24.5 14 24.5C14.9625 24.5 15.75 23.7125 15.75 22.75ZM15.75 14C15.75 13.0375 14.9625 12.25 14 12.25C13.0375 12.25 12.25 13.0375 12.25 14C12.25 14.9625 13.0375 15.75 14 15.75C14.9625 15.75 15.75 14.9625 15.75 14Z"
                                fill="#A3A3A3" />
                    </svg>
                    on Android.
                </li>
                <li class="features__tab">
                    <div class="features__tab--number">2</div>
                    Select “Add to Home Screen”.
                </li>
                <li class="features__tab">
                    <div class="features__tab--number">3</div>
                    Confirm by tapping “Add”.
                </li>
                <li class="features__tab">
                    <div class="features__tab--number">4</div>
                    Enjoy easy access to VipStake
                </li>
            </ol>
        </div>
    </div>
</section>