<section class="slot" id="exclusive-deals">
    <div class="container slot__container">
        <h2 class="slot__container--title">We ensure your needs<br/> are met, so you can<br/> <span>focus on the winning.</span></h2>
        <div class="slot-list-box ">
            <div class="fwc">
            </div>
            <p class="slot-list-box--win-text">Your lucky picks:</p>
            <ul id="list1" class="slot__cards-list list-1">
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo10.webp" alt="logo 10">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo10.webp" alt="logo 10">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="win" class="slot__card--wrapper  ">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo02.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo02.webp" alt="logo 2">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo01.webp" alt="logo 1">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo01.webp" alt="logo 1">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo08.webp" alt="logo 8">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo08.webp" alt="logo 8">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo04.webp" alt="logo 4">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo04.webp" alt="logo 4">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo06.webp" alt="logo 6">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo06.webp" alt="logo 6">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo07.webp" alt="logo 7">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo07.webp" alt="logo 7">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo03.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo03.webp" alt="logo 3">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo09.webp" alt="logo 9">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo09.webp" alt="logo 9">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo05.webp" alt="logo 5">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo05.webp" alt="logo 5">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="list2" class="slot__cards-list ">
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo10.webp" alt="logo 10">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo10.webp" alt="logo 10">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="win" class="slot__card--wrapper  ">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo02.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo02.webp" alt="logo 2">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo09.webp" alt="logo 9">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo09.webp" alt="logo 9">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo08.webp" alt="logo 8">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo08.webp" alt="logo 8">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo04.webp" alt="logo 4">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo04.webp" alt="logo 4">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo07.webp" alt="logo 7">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo07.webp" alt="logo 7">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo03.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo03.webp" alt="logo 3">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper  ">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo02.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo02.webp" alt="logo 2">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo05.webp" alt="logo 5">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo05.webp" alt="logo 5">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo01.webp" alt="logo 1">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo01.webp" alt="logo 1">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo06.webp" alt="logo 6">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo06.webp" alt="logo 6">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="list3" class="slot__cards-list ">
                <li data-action="0" class="slot__card--wrapper  ">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo02.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo02.webp" alt="logo 2">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="win" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo05.webp" alt="logo 5">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo05.webp" alt="logo 5">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo01.webp" alt="logo 1">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo01.webp" alt="logo 1">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo09.webp" alt="logo 9">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo09.webp" alt="logo 9">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo06.webp" alt="logo 6">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo06.webp" alt="logo 6">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo07.webp" alt="logo 7">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo07.webp" alt="logo 7">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo03.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo03.webp" alt="logo 3">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo10.webp" alt="logo 10">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo10.webp" alt="logo 10">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo08.webp" alt="logo 8">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo08.webp" alt="logo 8">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo04.webp" alt="logo 4">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo04.webp" alt="logo 4">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>

            </ul>
            <ul id="list4" class="slot__cards-list ">
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo07.webp" alt="logo 7">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo07.webp" alt="logo 7">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="win" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo05.webp" alt="logo 5">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo05.webp" alt="logo 5">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo10.webp" alt="logo 10">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo10.webp" alt="logo 10">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo08.webp" alt="logo 8">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo08.webp" alt="logo 8">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo01.webp" alt="logo 1">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo01.webp" alt="logo 1">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo09.webp" alt="logo 9">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo09.webp" alt="logo 9">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo04.webp" alt="logo 4">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo04.webp" alt="logo 4">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo08.webp" alt="logo 8">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo08.webp" alt="logo 8">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card">
                        <img class="slot__card--cover" src="/img/slots/logo03.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo03.webp" alt="logo 3">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
                <li data-action="0" class="slot__card--wrapper">
                    <div class="slot__card"> <img class="slot__card--cover" src="/img/slots/logo02.webp" alt="logo 2">

                        <div class="slot__card--box">
                            <div class="slot__card--box-info">
                                <img class="slot__card--box-info--image" loading="lazy" src="/img/slots/logo02.webp" alt="logo 2">
                                <div class="slot__card--box-info--container">
                                    <p class="slot__card--box-info--container-rating">4.8</p>
                                    <p class="slot__card--box-info--container-name">Title Casino</p>
                                    <a class="slot__card--box-info--container-link" href="#">See review</a>
                                </div>
                            </div>
                            <a class="slot__card--box--button" href="#">Play</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="slot__container--button-box">
            <button type="button" id="addActiveButton" class='slot_button button red'>
                <span>Try my Luck</span>
                <div style="--i:0;" class='slot_button-wave wave1'></div>
                <div style="--i:1;" class='slot_button-wave wave2'></div>
                <div style="--i:2;" class='slot_button-wave wave3'></div>
                <div style="--i:3;" class='slot_button-wave wave4'></div>
            </button>
            <p class="slot__container--button-box--desc">Did not find a nice offer?</p>
        </div>
    </div>

</section>
