<a href="{{ path('home') }}" class="header__logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="235" height="48" viewBox="0 0 235 48" fill="none">
        <path
                d="M35.5623 22.2045L30.3413 19.1922L40.9695 4L53.2262 11.0717L44.2765 23.8647L49.4974 26.877L38.8692 42.0692L26.6135 34.9981L14.3571 42.0698L3.72879 26.8775L8.94955 23.8653L0 11.0726L12.2568 4.00089L22.885 19.1931L17.6641 22.2053L26.6129 34.9968L35.5623 22.2045Z"
                fill="url(#paint0_linear_11702_4882)" />
        <path
                d="M59.6254 22.2049L54.4046 19.1927L65.0328 4.00049L77.2895 11.0722L68.34 23.8649L73.5608 26.8771L62.9325 42.0693L50.6758 34.9976L59.6254 22.2049Z"
                fill="url(#paint1_linear_11702_4882)" />
        <path
                d="M235 25.1072C235 25.7906 234.954 26.4055 234.863 26.9522H221.017C221.13 28.3187 221.61 29.3892 222.454 30.1636C223.297 30.938 224.333 31.3252 225.564 31.3252C227.342 31.3252 228.607 30.5622 229.359 29.0361H234.521C233.974 30.8583 232.926 32.3615 231.376 33.5458C229.826 34.7074 227.922 35.2882 225.667 35.2882C223.843 35.2882 222.203 34.8896 220.744 34.0925C219.308 33.2726 218.18 32.1223 217.359 30.6418C216.561 29.1614 216.163 27.4532 216.163 25.5172C216.163 23.5584 216.561 21.8388 217.359 20.3584C218.157 18.8779 219.274 17.739 220.709 16.9419C222.145 16.1447 223.797 15.7461 225.667 15.7461C227.467 15.7461 229.074 16.1333 230.487 16.9077C231.922 17.6821 233.028 18.7868 233.803 20.2217C234.601 21.6338 235 23.2624 235 25.1072ZM230.043 23.7406C230.02 22.5107 229.576 21.5314 228.709 20.8025C227.843 20.0508 226.784 19.675 225.53 19.675C224.345 19.675 223.342 20.0395 222.521 20.7683C221.724 21.4743 221.234 22.4651 221.051 23.7406H230.043Z"
                fill="white" />
        <path
                d="M209.325 34.9811L202.899 26.9182V34.9811H198.112V9.69922H202.899V24.0826L209.257 16.0538H215.48L207.138 25.5516L215.548 34.9811H209.325Z"
                fill="white" />
        <path
                d="M174.396 25.4489C174.396 23.5356 174.772 21.8388 175.524 20.3584C176.298 18.8779 177.336 17.739 178.635 16.9419C179.957 16.1447 181.427 15.7461 183.045 15.7461C184.458 15.7461 185.689 16.0308 186.737 16.6002C187.808 17.1696 188.663 17.8871 189.301 18.7525V16.0536H194.122V34.9808H189.301V32.2135C188.686 33.1017 187.831 33.842 186.737 34.4342C185.666 35.0036 184.424 35.2882 183.011 35.2882C181.415 35.2882 179.957 34.8783 178.635 34.0583C177.336 33.2384 176.298 32.0882 175.524 30.6077C174.772 29.1045 174.396 27.3849 174.396 25.4489ZM189.301 25.5172C189.301 24.3556 189.074 23.3648 188.618 22.5449C188.161 21.7021 187.547 21.0644 186.772 20.6316C185.996 20.1762 185.164 19.9483 184.276 19.9483C183.387 19.9483 182.567 20.1648 181.815 20.5975C181.062 21.0302 180.447 21.6679 179.968 22.5107C179.513 23.3307 179.285 24.31 179.285 25.4489C179.285 26.5877 179.513 27.5899 179.968 28.4553C180.447 29.2981 181.062 29.9472 181.815 30.4027C182.589 30.8583 183.41 31.086 184.276 31.086C185.164 31.086 185.996 30.8697 186.772 30.4368C187.547 29.9813 188.161 29.3436 188.618 28.5237C189.074 27.6809 189.301 26.6788 189.301 25.5172Z"
                fill="white" />
        <path
                d="M168.628 19.9821V29.1382C168.628 29.7759 168.776 30.2429 169.072 30.5389C169.392 30.8123 169.915 30.9489 170.644 30.9489H172.867V34.9803H169.859C165.824 34.9803 163.808 33.0216 163.808 29.104V19.9821H161.552V16.0531H163.808V11.3726H168.628V16.0531H172.867V19.9821H168.628Z"
                fill="white" />
        <path
                d="M151.145 35.2212C149.482 35.2212 147.978 34.9364 146.634 34.3671C145.312 33.7977 144.263 32.9776 143.488 31.9072C142.713 30.8367 142.314 29.5726 142.292 28.1149H147.419C147.488 29.0943 147.83 29.8687 148.445 30.4381C149.083 31.0075 149.949 31.2923 151.043 31.2923C152.16 31.2923 153.038 31.0303 153.676 30.5065C154.314 29.9598 154.634 29.2537 154.634 28.3883C154.634 27.6822 154.416 27.1013 153.984 26.6459C153.551 26.1904 153.003 25.8373 152.343 25.5867C151.705 25.3134 150.815 25.0174 149.676 24.6985C148.126 24.243 146.861 23.7988 145.881 23.366C144.924 22.9106 144.092 22.2386 143.386 21.3504C142.701 20.4393 142.36 19.2322 142.36 17.7289C142.36 16.3167 142.713 15.0868 143.419 14.0391C144.126 12.9914 145.117 12.1942 146.394 11.6476C147.67 11.0782 149.129 10.7935 150.77 10.7935C153.231 10.7935 155.226 11.397 156.753 12.6042C158.302 13.7886 159.157 15.4512 159.317 17.5922H154.051C154.007 16.7723 153.653 16.1004 152.992 15.5765C152.353 15.0299 151.5 14.7566 150.428 14.7566C149.493 14.7566 148.741 14.9957 148.172 15.474C147.625 15.9523 147.351 16.6469 147.351 17.558C147.351 18.1957 147.556 18.731 147.967 19.1637C148.399 19.5738 148.924 19.9154 149.54 20.1888C150.177 20.4393 151.066 20.7353 152.206 21.077C153.756 21.5326 155.02 21.9881 156 22.4436C156.98 22.8992 157.824 23.5824 158.53 24.4935C159.237 25.4046 159.591 26.6003 159.591 28.0807C159.591 29.3563 159.259 30.5406 158.599 31.6339C157.937 32.7271 156.969 33.6041 155.693 34.2646C154.416 34.9023 152.901 35.2212 151.145 35.2212Z"
                fill="white" />
        <path
                d="M125.207 18.7868C125.823 17.9212 126.666 17.2037 127.737 16.6344C128.831 16.0422 130.073 15.7461 131.463 15.7461C133.082 15.7461 134.54 16.1447 135.839 16.9419C137.161 17.739 138.199 18.8779 138.95 20.3584C139.725 21.816 140.113 23.5129 140.113 25.4489C140.113 27.3849 139.725 29.1045 138.95 30.6077C138.199 32.0882 137.161 33.2384 135.839 34.0583C134.54 34.8783 133.082 35.2882 131.463 35.2882C130.073 35.2882 128.842 35.0036 127.771 34.4342C126.723 33.8647 125.868 33.1472 125.207 32.2818V44.0002H120.421V16.0536H125.207V18.7868ZM135.224 25.4489C135.224 24.31 134.984 23.3307 134.506 22.5107C134.05 21.6679 133.435 21.0302 132.659 20.5975C131.908 20.1648 131.087 19.9483 130.199 19.9483C129.333 19.9483 128.512 20.1762 127.737 20.6316C126.985 21.0644 126.37 21.7021 125.891 22.5449C125.435 23.3876 125.207 24.3783 125.207 25.5172C125.207 26.656 125.435 27.6468 125.891 28.4895C126.37 29.3323 126.985 29.9813 127.737 30.4368C128.512 30.8697 129.333 31.086 130.199 31.086C131.087 31.086 131.908 30.8583 132.659 30.4027C133.435 29.9472 134.05 29.2981 134.506 28.4553C134.984 27.6126 135.224 26.6105 135.224 25.4489Z"
                fill="white" />
        <path
                d="M114.016 13.7988C113.173 13.7988 112.466 13.5369 111.897 13.013C111.35 12.4664 111.076 11.7945 111.076 10.9973C111.076 10.2001 111.35 9.53961 111.897 9.01575C112.466 8.46912 113.173 8.1958 114.016 8.1958C114.86 8.1958 115.555 8.46912 116.102 9.01575C116.671 9.53961 116.956 10.2001 116.956 10.9973C116.956 11.7945 116.671 12.4664 116.102 13.013C115.555 13.5369 114.86 13.7988 114.016 13.7988ZM116.375 16.0537V34.9809H111.589V16.0537H116.375Z"
                fill="white" />
        <path
                d="M109.403 11.1328L100.651 34.9797H94.8389L86.0869 11.1328H91.215L97.779 30.0942L104.309 11.1328H109.403Z"
                fill="white" />
        <defs>
            <linearGradient id="paint0_linear_11702_4882" x1="3.30158e-09" y1="12.4107" x2="77.2861" y2="11.9502"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFBC3B" />
                <stop offset="0.5" stop-color="#FF6051" />
                <stop offset="1" stop-color="#FF4AAC" />
            </linearGradient>
            <linearGradient id="paint1_linear_11702_4882" x1="0.000774978" y1="12.411" x2="77.2868" y2="11.9504"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFBC3B" />
                <stop offset="0.5" stop-color="#FF6051" />
                <stop offset="1" stop-color="#FF4AAC" />
            </linearGradient>
        </defs>
    </svg>
</a>
