<nav class="header__menu ">
    <ul class="header__menu-list">
        <li class="header__menu-list-item ">
            <a href="#" class="header__menu-list-item--link">
                Online Casinos
                <span/>
            </a>
            <div class="menu-dropdown">
                <a class="menu-dropdown__link" href="">High Stakes VIP Casinos</a>
                <a class="menu-dropdown__link" href="">New VIP Casinos</a>
                <a class="menu-dropdown__link" href="">High Payout VIP Casinos</a>
                <a class="menu-dropdown__link" href="">Fast Payout VIP</a>
                <a class="menu-dropdown__link" href="">VIP Highest Withdraw</a>
                <a class="menu-dropdown__link" href="">VIP Casino Apps</a>
                <a class="menu-dropdown__link" href="">Live VIP Casinos</a>
            </div>
        </li>
        <li class="header__menu-list-item">
            <a href="#" class="header__menu-list-item--link">
                Bonuses
                <span/>
            </a>
            <div class="menu-dropdown">
                <a class="menu-dropdown__link" href="">VIP Welcome Bonuses</a>
                <a class="menu-dropdown__link" href="">VIP Exclusive Bonuses</a>
                <a class="menu-dropdown__link" href="">VIP Free Spins</a>
                <a class="menu-dropdown__link" href="">VIP Rewards</a>
                <a class="menu-dropdown__link" href="">VIP Loyalty Bonuses</a>
                <a class="menu-dropdown__link" href="">Highroller Bonuses</a>
            </div>
        </li>
        <li class="header__menu-list-item">
            <a href="#" class="header__menu-list-item--link">
                Banking
                <span/>
            </a>
            <div class="menu-dropdown">
                <a class="menu-dropdown__link" href="">VIP Banking Options</a>
                <a class="menu-dropdown__link" href="">Visa</a>
                <a class="menu-dropdown__link" href="">Mastercard</a>
                <a class="menu-dropdown__link" href="">Crypto</a>
                <a class="menu-dropdown__link" href="">Bitcoin</a>
                <a class="menu-dropdown__link" href="">USDT</a>
            </div>
        </li>
        <li class="header__menu-list-item">
            <a href="#" class="header__menu-list-item--link">
                VIP Reviews
                <span/>
            </a>
            <div class="menu-dropdown">
                <a class="menu-dropdown__link" href="">*brand* VIP Program</a>
                <a class="menu-dropdown__link" href="">All VIP Programs</a>
            </div>
        </li>
        <li class="header__menu-list-item">
            <a href="#" class="header__menu-list-item--link">
                Casino Games
                <span/>
            </a>
            <div class="menu-dropdown">
                <a class="menu-dropdown__link" href="">High Limit Sots</a>
                <a class="menu-dropdown__link" href="">High Limit Roulette</a>
                <a class="menu-dropdown__link" href="">High limit Blackjack</a>
                <a class="menu-dropdown__link" href="">High limit Poker</a>
                <a class="menu-dropdown__link" href="">High limit Live Dealer</a>
            </div>
        </li>
    </ul>
</nav>
