<div class="pb__faq-block" id="{{ id }}">
    <div class="faq__items">
        <ul class="accordion">

        </ul>
    </div>

    <div class="pb__button-add -black" data-action="add-faq-item">+</div>

    <div class="table__context-menu pb__context-menu">
        <button class="pb__context-menu-button" data-action="delete-item">Delete item</button>
    </div>
</div>