<li class="accordion__item show" data-action="accordion-item">
    <div class="accordion__item--header" data-action="accordion-header">
        <h3 class="accordion__item--header-title faq__question" contenteditable="true">
            {{ question ?? "Enter text" }}
        </h3>
        <button class="accordion__item-header--button"></button>
    </div>
    <div class="accordion__item--content">
        <div class="accordion__item--content-wrapper">
            <p contenteditable="true">
                {{ answer ?? "Enter text" }}
            </p>
        </div>
    </div>
</li>