<section class="review-lobby__hero" id="hero">
    <div class="review-lobby__hero--wrapper container">
        <h1 class="review-lobby__hero--title">
            {{ fields.vip_review_h1 | raw }}
        </h1>
        <p class="review-lobby__hero--desc">
            {{ fields.vip_review_uh1 | raw }}
        </p>
        <div class="review-lobby__hero--box">
            <p class="review-lobby__hero--info">
					<span class="review-lobby__hero--info-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2 10C2 5.58323 5.58323 2 10 2C14.4168 2 18 5.58323 18 10C18 14.4168 14.4168 18 10 18C5.58323 18 2 14.4168 2 10ZM10 3C6.13552 3 3 6.13552 3 10C3 13.8645 6.13552 17 10 17C13.8645 17 17 13.8645 17 10C17 6.13552 13.8645 3 10 3Z"
                              fill="#DE3768"/>
						<path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10 4.5C10.2761 4.5 10.5 4.72386 10.5 5V10.125H13.75C14.0261 10.125 14.25 10.3489 14.25 10.625C14.25 10.9011 14.0261 11.125 13.75 11.125H10C9.72386 11.125 9.5 10.9011 9.5 10.625V5C9.5 4.72386 9.72386 4.5 10 4.5Z"
                              fill="#DE3768"/>
					</svg>
					</span>Updated:<span class="review-lobby__hero--info-value">July, 2024</span></p>
            <p class="review-lobby__hero--info">
					<span class="review-lobby__hero--info-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
	  <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.25 7.1875C8.25 6.91136 8.47386 6.6875 8.75 6.6875H13.75C14.0261 6.6875 14.25 6.91136 14.25 7.1875C14.25 7.46364 14.0261 7.6875 13.75 7.6875H8.75C8.47386 7.6875 8.25 7.46364 8.25 7.1875ZM8.25 10C8.25 9.72386 8.47386 9.5 8.75 9.5H13.75C14.0261 9.5 14.25 9.72386 14.25 10C14.25 10.2761 14.0261 10.5 13.75 10.5H8.75C8.47386 10.5 8.25 10.2761 8.25 10ZM8.25 12.7734C8.25 12.4973 8.47386 12.2734 8.75 12.2734H13.75C14.0261 12.2734 14.25 12.4973 14.25 12.7734C14.25 13.0496 14.0261 13.2734 13.75 13.2734H8.75C8.47386 13.2734 8.25 13.0496 8.25 12.7734Z"
            fill="#DE3768"/>
	  <path fill-rule="evenodd" clip-rule="evenodd"
            d="M2 10.0781C2 5.66136 5.58323 2.07812 10 2.07812C14.4168 2.07812 18 5.66136 18 10.0781C18 14.4949 14.4168 18.0781 10 18.0781C5.58323 18.0781 2 14.4949 2 10.0781ZM10 3.07812C6.13552 3.07812 3 6.21364 3 10.0781C3 13.9426 6.13552 17.0781 10 17.0781C13.8645 17.0781 17 13.9426 17 10.0781C17 6.21364 13.8645 3.07812 10 3.07812Z"
            fill="#DE3768"/>
	  <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.5625 7.375C6.66605 7.375 6.75 7.29105 6.75 7.1875C6.75 7.08395 6.66605 7 6.5625 7C6.45895 7 6.375 7.08395 6.375 7.1875C6.375 7.29105 6.45895 7.375 6.5625 7.375ZM5.75 7.1875C5.75 6.73877 6.11377 6.375 6.5625 6.375C7.01123 6.375 7.375 6.73877 7.375 7.1875C7.375 7.63623 7.01123 8 6.5625 8C6.11377 8 5.75 7.63623 5.75 7.1875Z"
            fill="#DE3768"/>
	  <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.5625 10.2266C6.66605 10.2266 6.75 10.1426 6.75 10.0391C6.75 9.93551 6.66605 9.85156 6.5625 9.85156C6.45895 9.85156 6.375 9.93551 6.375 10.0391C6.375 10.1426 6.45895 10.2266 6.5625 10.2266ZM5.75 10.0391C5.75 9.59033 6.11377 9.22656 6.5625 9.22656C7.01123 9.22656 7.375 9.59033 7.375 10.0391C7.375 10.4878 7.01123 10.8516 6.5625 10.8516C6.11377 10.8516 5.75 10.4878 5.75 10.0391Z"
            fill="#DE3768"/>
	  <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.5625 13C6.66605 13 6.75 12.9161 6.75 12.8125C6.75 12.7089 6.66605 12.625 6.5625 12.625C6.45895 12.625 6.375 12.7089 6.375 12.8125C6.375 12.9161 6.45895 13 6.5625 13ZM5.75 12.8125C5.75 12.3638 6.11377 12 6.5625 12C7.01123 12 7.375 12.3638 7.375 12.8125C7.375 13.2612 7.01123 13.625 6.5625 13.625C6.11377 13.625 5.75 13.2612 5.75 12.8125Z"
            fill="#DE3768"/>
	</svg>
{#					</span>Reviews:<span class="review-lobby__hero--info-value">{{ reviews.count }}</span>#}
            </p>
        </div>
        <div class="review-lobby--casino--legal" data-tooltip-container>
            <button class="review-lobby--casino--legal-button" data-tooltip-trigger>
                Must be +21 to play. T&Cs apply.
            </button>
            <div class="review-lobby--casino--legal--tooltip" data-tooltip-content>
                <p>{{ option('disclosure') }}</p>
                <button class="review-lobby--casino--legal--tooltip__cross" data-tooltip-close>

                </button>
            </div>
        </div>
    </div>
</section>