.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  max-width: 300px;
  margin: 20px auto;
}
.dropzone.dragover {
  background: #f0f0f0;
}
#preview img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
#preview {
  text-align: center;
  max-width: 100%;
  margin: 20px auto;
}

.pb__image-block{
  margin-bottom: 15px;
}