* {
  scrollbar-width: auto;
  scrollbar-color: $cl-neutral-100 transparent;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {

    border-radius: 100px;
    background: inherit;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 0 none #fff;
    background-color: $cl-neutral-100;
    transition: all 280ms ease-in-out;

    &:hover {
      background-color: $cl-neutral-100;
    }
  }
}