<div class="pb__image-block" id="{{ id }}" data-block="{{ name }}">
    <div class="dropzone pb__image-block_dropzone">
        <div class="dz-message">Drop image here or click to upload</div>
    </div>

    <div class="preview pb__image-block_preview"><img src="{{ fields.img.default }}" alt=""></div>
    <input type="file" class="pb__image-block_input" style="display: none;">
</div>