{% if field is defined %}
    <div class="ui__form-row">
        <label for="{{ field.vars.id }}">{{ field.vars.label }}</label>
        <input value="{{ value }}" type="text" name="{{ field.vars.full_name }}">
    </div>
{% endif %}