{% extends 'frontend/layout/base.html.twig' %}

{% block body %}
    <main>
        <section class="not-fount">
            <div class="not-fount__wrapper"><h1 class="not-fount__title">403</h1>
                <p class="not-fount__desc">Access restricted. You are not allowed to be here</p>
                <a href="{{ path('home') }}" class="button white">Go to Home</a></div>
        </section>
    </main>
{% endblock %}