{% macro langSwitcher(form) %}
    <select class="a2lix_translationsLocales nav nav-tabs ui__lang-switcher" role="tablist">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
                <option data-locale="{{ locale }}"
                   class="toggle-lang nav-link {% if app.request.locale == locale %}active{% endif %}" data-toggle="tab"
                   role="tab" value="{{ locale }}">
                    {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                    {% if form.vars.default_locale == locale %}{{ ''|trans }}{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </option>
        {% endfor %}
    </select>
{% endmacro %}

