.hero {
  height:90vh;
  z-index: 9998;
  position: relative;
  & .heroPageSwiper {
    height: 100%;
  }

  @media screen and (min-width: 1180px) {
    height:100vh;
  }
  background-color: #1B1B1B;
}

.hero__slide {

  position: relative;
  height: 100%;
  @include transition;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }

  &.red {
    & .hero__info-box--title span {
      background: linear-gradient(90deg, #E1126E 2.22%, #FF996E 52.07%, #FF4A4A 80.55%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    & .hero__scroll-button-link:after {
      background: $gr-dg-1;
    }
  }

  &.purple {
    & .hero__info-box--title span {
      background: linear-gradient(90deg, #3B5EFF 0.06%, #A09EFF 50.02%, #A838FF 99.98%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    & .hero__scroll-button-link:after {
      background: linear-gradient(140deg, #3B5EFF 16.92%, #A09EFF 52.46%, #A838FF 87.99%);
    }
  }

  &.orange {
    & .hero__info-box--title span {
      background: linear-gradient(90deg, #fe5a14 0%, #ffbc3b 52%, #ff1919 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .hero__scroll-button-link:after {
      background: linear-gradient(133deg, #FE5A14 12.34%, #FFBC3B 50.76%, #FF1919 86.85%);
    }
  }

  &.green {
    & .hero__info-box--title span {
      background: linear-gradient(90deg, #237427 0%, #E5F1AF 41%, #A4D35F 100%);;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .hero__scroll-button-link:after {
      background: linear-gradient(138deg, #237427 8.16%, #E5F1AF 43.64%, #A4D35F 94.7%);
    }
  }

  @media screen and (min-width: 834px) {
  }
}

// info box
.hero__info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &--title {
    text-align: center;
    padding: 0 16px;
    margin: 0 0 32px;
    color: #fff;
    @include font-title(h1-mob);

    @media screen and (min-width: 834px){
      & span .span-br{

      }
    }
  }

  &--button {
    max-width: 165px;
  }

  @media screen and (min-width: 834px) {
    margin-top: 0;

    &--title {
      margin-bottom: 48px;
      @include font-title(h1-sm);
      &-first {
        display: none;
      }
    }
    &--button {
      max-width: 165px;
    }
  }
  @media screen and (min-width: 1180px) {
    margin-top: 0;

    &--title {
      & .span-br{
        display: none;
      }
      &-first {
        display: none;
      }
    }
    &--button {
      max-width: 200px;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-top: 0;
    &--button {
      max-width: 165px;
    }
  }
  @media screen and (min-width: 1512px) {

    &--title {
      margin-bottom: 64px;
      @include font-title(h1-md);
    }
    &--button {
      @include button-medium;
      max-width: 228px;
      max-height: 44px !important;
      height: 44px !important;
    }
  }
  @media screen and (min-width: 1728px) {

    &--title {
      margin-bottom: 51px;
      @include font-title(h1-lg);
    }

  }
}


#hero__button-wrap {
  height: 44px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  & .button{
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 1;
    transition: all 1s ease-out;
  }
  & .button.active {
    z-index: 1;
    opacity: 1;
    transform: scale(1, 1);
    filter: brightness(1);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .button.next {
    z-index: 2;
    opacity: 0;
  }
  .button.next.active {
    opacity: 1;
    filter: brightness(1);
    transform: scale(1, 1);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1512px) {

      height: 48px;

  }
  @media screen and (min-width: 1728px) {

      height: 48px;

  }
}
#hero__buttonBG{
  display: flex;
  justify-content: center;
  width: 100%;
  & svg {
    --gradient-1: #e0833c;
    --gradient-2: #e0483e;
    --gradient-3: #c43269;

    --gradient-hover-1: #ff9b3c;
    --gradient-hover-2: #ff4f40;
    --gradient-hover-3: #db3278;

    --gradient-stroke-1: #ffb067;
    --gradient-stroke-2: #ff4f40;
    --gradient-stroke-3: #db3278;

    transition: box-shadow 0.5s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    border-radius: 22px;

    --button-glow-color: #e0483e;
    z-index: -1;
  }
  & svg rect{
    stroke-width: 1;
  }
  @media screen and (min-width: 1512px) {
    & svg rect{
      stroke-width: 2;
    }
  }
}

#hero__button-wrap:active #hero__buttonBG svg {
  /* box-shadow: var(--button-glow-color) 0px 0px 32px; */
  filter: drop-shadow(0 0 24px var(--button-glow-color));
  transform: translateZ(0);
}

/* BUTTON HOVER STYLES */
#hero__button-wrap:hover #hero__buttonBG svg .svg__gradient {
  transition: stop-color 0.15s linear;
}
#hero__button-wrap:hover #hero__buttonBG svg .svg__gradient_1 {
  stop-color: var(--gradient-hover-1);
}
#hero__button-wrap:hover #hero__buttonBG svg .svg__gradient_2 {
  stop-color: var(--gradient-hover-2);
}
#hero__button-wrap:hover #hero__buttonBG svg .svg__gradient_3 {
  stop-color: var(--gradient-hover-3);
}

/* BUTTON SVG STYLES TRANSFER */
#hero__buttonBG svg .svg__gradient {
  transition: stop-color 2s cubic-bezier(0.25, 1, 0.5, 1);
}
#hero__buttonBG svg .svg__gradient_1 {
  stop-color: var(--gradient-1);
}
#hero__buttonBG svg .svg__gradient_2 {
  stop-color: var(--gradient-2);
}
#hero__buttonBG svg .svg__gradient_3 {
  stop-color: var(--gradient-3);
}

#hero__buttonBG svg .svg__stroke {
  transition: stop-color 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}
#hero__buttonBG svg .svg__stroke_1 {
  stop-color: var(--gradient-stroke-1);
}
#hero__buttonBG svg .svg__stroke_2 {
  stop-color: var(--gradient-stroke-2);
}
#hero__buttonBG svg .svg__stroke_3 {
  stop-color: var(--gradient-stroke-3);
}
picture.hero__slide-img{
  opacity: 0;
  z-index: -3;
  transition: all 1.5s ease-out;
  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &.active {
    opacity: 1;
    z-index: 0;
    transition: all 1.5s ease-out;
  }
  &.next {
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

}

@media screen and (min-width: 1180px) {
  .hero {
    height: 100vh;
  }
}

.hero .hero__info-box--title div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  text-align: center;
  overflow: visible;
}
.hero .hero__info-box--title span {
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: visible;
  transition: all 1.3s linear;
  filter: blur(40px);
  z-index: 0;
}
.hero .hero__info-box--title span.active {
  z-index: 1;
  opacity: 1;
  filter: blur(0);
}
.hero .hero__info-box--title span.next {
  z-index: 2;
  opacity: 0;
}
.hero .hero__info-box--title span.next.active {
  opacity: 1;
}
.hero .hero__info-box--title span.red {
  background: linear-gradient(
                  90deg,
                  #e1126e 2.22%,
                  #ff996e 52.07%,
                  #ff4a4a 80.55%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__slide.red .hero__scroll-button-link:after {
  background: linear-gradient(
                  145deg,
                  #e1126e 13.59%,
                  #ff996e 54.92%,
                  #ff4a4a 78.53%
  );
}
.hero .hero__info-box--title span.purple {
  background: linear-gradient(
                  90deg,
                  #3b5eff 0.06%,
                  #a09eff 50.02%,
                  #a838ff 99.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__slide.purple .hero__scroll-button-link:after {
  background: linear-gradient(
                  140deg,
                  #3b5eff 16.92%,
                  #a09eff 52.46%,
                  #a838ff 87.99%
  );
}
.hero .hero__info-box--title span.orange {
  background: linear-gradient(90deg, #fe5a14 0%, #ffbc3b 52%, #ff1919 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__slide.orange .hero__scroll-button-link:after {
  background: linear-gradient(
                  133deg,
                  #fe5a14 12.34%,
                  #ffbc3b 50.76%,
                  #ff1919 86.85%
  );
}
.hero .hero__info-box--title span.green {
  background: linear-gradient(90deg, #237427 0%, #e5f1af 41%, #a4d35f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__slide.green .hero__scroll-button-link:after {
  background: linear-gradient(
                  138deg,
                  #237427 8.16%,
                  #e5f1af 43.64%,
                  #a4d35f 94.7%
  );
}
.hero__info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hero__info-box--title {
  text-align: center;
  padding: 0 16px;
  margin: 0 0 32px;
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.5px;
  overflow: visible;
}
.hero__info-box--title div {
  height: 162px;
}
.hero__info-box--title span {
  height: inherit;
}
.hero__info-box--button {
  max-width: 165px;
  height: 44px;
}
.hero__info-box--button span {
  position: absolute;
  padding: 0 48px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  z-index: 0;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.hero__info-box--button span.active {
  opacity: 1;
  z-index: 1;
}

@media screen and (min-width: 375px) {

}
@media screen and (min-width: 834px) {
  .hero__info-box--title .span-br.second {
    display: none;
  }
  .hero__info-box--title div {
    height: 150px;
  }
  .hero__info-box {
    margin-top: 0;
  }
  .hero__info-box--title {
    margin-bottom: 48px;
    font-size: 66px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.5px;
  }
  .hero__info-box--title-first {
    display: none;
  }
  .hero__info-box--button {
    max-width: 165px;
  }
}
@media screen and (min-width: 1180px) {
  .hero__info-box--title .span-br.first {
    display: none;
  }
  .hero__info-box--title div {
    height: 74px;
  }
  .hero__info-box {
    margin-top: 0;
  }
  .hero__info-box--title-first {
    display: none;
  }
  .hero__info-box--button {
    max-width: 200px;
  }
}
@media screen and (min-width: 1280px) {

  .hero__info-box {
    margin-top: 0;
  }
  .hero__info-box--button {
    max-width: 165px;
  }
}
@media screen and (min-width: 1512px) {
  .hero__info-box--title div {
    height: 90px;
  }
  .hero__info-box--title {
    margin-bottom: 42px;
    font-size: 78px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0.5px;
  }
  .hero__info-box--button {
    padding: 2px;
    max-width: 228px;
    max-height: 48px !important;
    height: 48px !important;
  }
}
@media screen and (min-width: 1728px) {
  .hero .hero__info-box--title div {
    height: 100px;
  }
  .hero__info-box--title {
    margin-bottom: 38px;
    font-size: 90px;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: 0.5px;
  }
}

.hero__scroll-button {
  cursor: pointer;
  position: absolute;
  bottom: 32px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__scroll-button-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 500ms ease;
}

.hero__scroll-button-link svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1.3s linear;
  transform: rotate(0deg);
  --svg-scroll-1: #e1126e;
  --svg-scroll-2: #ff996e;
  --svg-scroll-3: #ff4a4a;
}
.hero__scroll-button-link svg .svg__scroll {
  transition: all 1.3s linear;
}
.hero__scroll-button-link svg .svg__scroll_1 {
  stop-color: var(--svg-scroll-1);
}
.hero__scroll-button-link svg .svg__scroll_2 {
  stop-color: var(--svg-scroll-2);
}
.hero__scroll-button-link svg .svg__scroll_3 {
  stop-color: var(--svg-scroll-3);
}

.hero__scroll-button-link:hover svg .svg__scroll {
  transition: all 0.2s linear;

  --svg-scroll-1: white;
  --svg-scroll-2: white;
  --svg-scroll-3: white;
}

.hero__scroll-button span {
  position: absolute;
  opacity: 1;
  transition: opacity 2s;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.0285 16.172L18.5456 10.808L20 12.222L12 20L4 12.222L5.45436 10.808L10.9715 16.172L10.9715 4L13.0285 4L13.0285 16.172Z" fill="white"/></svg>');
  width: 16px;
  height: 16px;
}
.hero__scroll-button p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 834px) {
  .hero__scroll-button {
    bottom: 64px;
  }
}
@media screen and (min-width: 1180px) {
  .hero__scroll-button {
    bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__scroll-button {
    bottom: 32px;
  }
}
@media screen and (min-width: 1512px) {
  .hero__scroll-button {
    bottom: 48px;
  }
  .hero__scroll-button-link {
    width: 38px;
    height: 38px;
  }
  .hero__scroll-button span {
    width: 24px;
    height: 24px;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.0285 16.172L18.5456 10.808L20 12.222L12 20L4 12.222L5.45436 10.808L10.9715 16.172L10.9715 4L13.0285 4L13.0285 16.172Z" fill="white"/></svg>');
  }
  .hero__scroll-button p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.66px;
  }
}
