.benefits-about{
  position: relative;
padding: 48px 24px;

  @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/375_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/375_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/375_aboutUsBenefits@3.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 834px) {
    padding: 64px;
    background-size: contain;
    @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/834_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/834_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/834_aboutUsBenefits@3.png");
  }
  @media screen and (min-width:1180px) {

    @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/1180_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1180_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1180_aboutUsBenefits@3.png");
  }
  @media screen and (min-width:1280px) {
    padding: 64px 80px;
    @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/1280_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1280_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1280_aboutUsBenefits@3.png");
  }
  @media screen and (min-width:1512px) {
    padding: 80px 120px;
    @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/1512_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1512_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1512_aboutUsBenefits@3.png");
  }
  @media screen and (min-width:1728px) {
    padding: 80px 200px;

    @include retina-bg("/assets/frontend/img/aboutUs/aboutUsBenefits/1728_aboutUsBenefits@1.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1728_aboutUsBenefits@2.png","/assets/frontend/img/aboutUs/aboutUsBenefits/1728_aboutUsBenefits@3.png");
  }
}

.benefits-about--list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  @media screen and (min-width: 834px) {
    grid-template-columns: 1fr 1fr;
    gap:48px 24px;
  }
  @media screen and (min-width: 1180px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap:48px 32px;
  }
  @media screen and (min-width: 1512px) {
    gap:48px 32px;
  }
}
.benefits-about--item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  &--title{
    color: $cl-magenta-100;
  @include font-title(h1-mob);
  }
  &--desc{
    color: $cl-neutral-400;
    @include font-body(normal);
    max-width: 203px;
  }
  @media screen and (min-width: 834px) {
    &--title{
      @include font-title(h1-sm);
    }
    &--desc{
      @include font-body(big);
      max-width: 226px;
    }
  }
  @media screen and (min-width: 1180px) {
    gap: 16px;
    &--title{
      @include font-title(h1-md);
    }
    &--desc{
      max-width: 206px;
    }
  }
  @media screen and (min-width: 1512px) {
    gap: 16px;
    &--title{
      @include font-title(h1-lg);
    }
    &--desc{
      max-width: 267px;
      @include font-body(large);
    }
  }
}