<footer class="footer">
    <div class="footer__container container">
        <nav class="footer__top-block">
            <ul class="footer__socials" aria-label="social links">
                <li>
                    <a href="#" class="footer__socials-icon facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path
                                    d="M15.9998 2.66675C8.63584 2.66675 2.6665 8.63608 2.6665 16.0001C2.6665 22.6547 7.5425 28.1707 13.9172 29.1721V19.8534H10.5305V16.0001H13.9172V13.0627C13.9172 9.72141 15.9065 7.87608 18.9532 7.87608C20.4118 7.87608 21.9372 8.13608 21.9372 8.13608V11.4161H20.2572C18.5998 11.4161 18.0838 12.4441 18.0838 13.4987V16.0001H21.7812L21.1905 19.8534H18.0838V29.1721C24.4572 28.1721 29.3332 22.6534 29.3332 16.0001C29.3332 8.63608 23.3638 2.66675 15.9998 2.66675Z"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__socials-icon instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path
                                    d="M15.9998 12.0001C14.939 12.0001 13.9216 12.4215 13.1714 13.1717C12.4213 13.9218 11.9998 14.9392 11.9998 16.0001C11.9998 17.0609 12.4213 18.0784 13.1714 18.8285C13.9216 19.5787 14.939 20.0001 15.9998 20.0001C17.0607 20.0001 18.0781 19.5787 18.8283 18.8285C19.5784 18.0784 19.9998 17.0609 19.9998 16.0001C19.9998 14.9392 19.5784 13.9218 18.8283 13.1717C18.0781 12.4215 17.0607 12.0001 15.9998 12.0001ZM15.9998 9.33341C17.7679 9.33341 19.4636 10.0358 20.7139 11.286C21.9641 12.5363 22.6665 14.232 22.6665 16.0001C22.6665 17.7682 21.9641 19.4639 20.7139 20.7141C19.4636 21.9644 17.7679 22.6667 15.9998 22.6667C14.2317 22.6667 12.536 21.9644 11.2858 20.7141C10.0355 19.4639 9.33317 17.7682 9.33317 16.0001C9.33317 14.232 10.0355 12.5363 11.2858 11.286C12.536 10.0358 14.2317 9.33341 15.9998 9.33341V9.33341ZM24.6665 9.00008C24.6665 9.44211 24.4909 9.86603 24.1784 10.1786C23.8658 10.4912 23.4419 10.6667 22.9998 10.6667C22.5578 10.6667 22.1339 10.4912 21.8213 10.1786C21.5088 9.86603 21.3332 9.44211 21.3332 9.00008C21.3332 8.55805 21.5088 8.13413 21.8213 7.82157C22.1339 7.50901 22.5578 7.33341 22.9998 7.33341C23.4419 7.33341 23.8658 7.50901 24.1784 7.82157C24.4909 8.13413 24.6665 8.55805 24.6665 9.00008V9.00008ZM15.9998 5.33341C12.7012 5.33341 12.1625 5.34275 10.6278 5.41075C9.5825 5.46008 8.88117 5.60008 8.2305 5.85341C7.65184 6.07741 7.2345 6.34541 6.7905 6.79075C6.37318 7.19395 6.05231 7.68619 5.85184 8.23075C5.5985 8.88408 5.4585 9.58408 5.4105 10.6281C5.34117 12.1001 5.33317 12.6147 5.33317 16.0001C5.33317 19.2987 5.3425 19.8374 5.4105 21.3721C5.45984 22.4161 5.59984 23.1187 5.85184 23.7681C6.0785 24.3481 6.34517 24.7654 6.78784 25.2081C7.23717 25.6561 7.6545 25.9241 8.22784 26.1454C8.8865 26.4001 9.58784 26.5414 10.6278 26.5894C12.0998 26.6587 12.6145 26.6667 15.9998 26.6667C19.2985 26.6667 19.8372 26.6574 21.3718 26.5894C22.4145 26.5401 23.1172 26.4001 23.7678 26.1481C24.3452 25.9227 24.7652 25.6547 25.2078 25.2121C25.6572 24.7627 25.9252 24.3454 26.1465 23.7721C26.3998 23.1147 26.5412 22.4121 26.5892 21.3721C26.6585 19.9001 26.6665 19.3854 26.6665 16.0001C26.6665 12.7014 26.6572 12.1627 26.5892 10.6281C26.5398 9.58542 26.3998 8.88141 26.1465 8.23075C25.9456 7.68675 25.6253 7.1947 25.2092 6.79075C24.8061 6.37321 24.3139 6.0523 23.7692 5.85208C23.1158 5.59875 22.4145 5.45875 21.3718 5.41075C19.8998 5.34141 19.3852 5.33341 15.9998 5.33341ZM15.9998 2.66675C19.6225 2.66675 20.0745 2.68008 21.4958 2.74675C22.9158 2.81341 23.8825 3.03608 24.7332 3.36675C25.6132 3.70541 26.3545 4.16408 27.0958 4.90408C27.7738 5.57061 28.2984 6.37687 28.6332 7.26675C28.9625 8.11608 29.1865 9.08408 29.2532 10.5041C29.3158 11.9254 29.3332 12.3774 29.3332 16.0001C29.3332 19.6227 29.3198 20.0747 29.2532 21.4961C29.1865 22.9161 28.9625 23.8827 28.6332 24.7334C28.2994 25.6238 27.7747 26.4302 27.0958 27.0961C26.4291 27.7738 25.6229 28.2984 24.7332 28.6334C23.8838 28.9627 22.9158 29.1867 21.4958 29.2534C20.0745 29.3161 19.6225 29.3334 15.9998 29.3334C12.3772 29.3334 11.9252 29.3201 10.5038 29.2534C9.08384 29.1867 8.11717 28.9627 7.2665 28.6334C6.37627 28.2994 5.56987 27.7747 4.90384 27.0961C4.22571 26.4297 3.70108 25.6234 3.3665 24.7334C3.03584 23.8841 2.81317 22.9161 2.7465 21.4961C2.68384 20.0747 2.6665 19.6227 2.6665 16.0001C2.6665 12.3774 2.67984 11.9254 2.7465 10.5041C2.81317 9.08275 3.03584 8.11741 3.3665 7.26675C3.70015 6.37632 4.22491 5.56984 4.90384 4.90408C5.57007 4.22572 6.37641 3.70105 7.2665 3.36675C8.11717 3.03608 9.0825 2.81341 10.5038 2.74675C11.9252 2.68408 12.3772 2.66675 15.9998 2.66675Z"
                            />
                            <defs>

                                <radialGradient id="instagram-gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                                gradientTransform="translate(7.74984 29.3873) rotate(-90) scale(26.4286 24.5807)">
                                    <stop stop-color="#FFDD55" />
                                    <stop offset="0.1" stop-color="#FFDD55" />
                                    <stop offset="0.5" stop-color="#FF543E" />
                                    <stop offset="1" stop-color="#C837AB" />
                                </radialGradient>
                            </defs>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__socials-icon linkedin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path
                                    d="M24.4467 24.452H20.8933V18.8827C20.8933 17.5547 20.8667 15.8453 19.04 15.8453C17.188 15.8453 16.9053 17.2907 16.9053 18.7853V24.452H13.3507V13H16.764V14.56H16.8107C17.288 13.6613 18.448 12.7107 20.1813 12.7107C23.7813 12.7107 24.448 15.0813 24.448 18.1653V24.452H24.4467ZM9.33733 11.4333C9.06607 11.4337 8.79741 11.3805 8.54675 11.2768C8.29609 11.1731 8.06836 11.021 7.87661 10.8291C7.68486 10.6372 7.53287 10.4094 7.42935 10.1587C7.32582 9.90795 7.27281 9.63926 7.27333 9.368C7.2736 8.95978 7.39491 8.5608 7.62192 8.22153C7.84894 7.88225 8.17146 7.61791 8.54871 7.46194C8.92595 7.30596 9.34098 7.26536 9.74131 7.34525C10.1416 7.42515 10.5093 7.62197 10.7977 7.91081C11.0862 8.19965 11.2826 8.56755 11.3619 8.96798C11.4413 9.3684 11.4002 9.78338 11.2437 10.1604C11.0872 10.5375 10.8225 10.8597 10.4829 11.0862C10.1434 11.3128 9.74422 11.4336 9.336 11.4333H9.33733ZM11.1187 24.452H7.55467V13H11.12V24.452H11.1187ZM26.2267 4H5.772C4.79067 4 4 4.77333 4 5.72933V26.2707C4 27.2267 4.792 28 5.77067 28H26.2213C27.2 28 28 27.2267 28 26.2707V5.72933C28 4.77333 27.2 4 26.2213 4H26.2253H26.2267Z"
                            />

                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__socials-icon youtube">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path
                                    d="M26.1412 9.32658C26.0398 8.92925 25.7518 8.62925 25.4225 8.53725C24.8398 8.37325 21.9998 7.99992 15.9998 7.99992C9.99984 7.99992 7.1625 8.37325 6.5745 8.53725C6.24917 8.62792 5.96117 8.92792 5.8585 9.32658C5.71317 9.89192 5.33317 12.2613 5.33317 15.9999C5.33317 19.7386 5.71317 22.1066 5.8585 22.6746C5.95984 23.0706 6.24784 23.3706 6.57584 23.4613C7.1625 23.6266 9.99984 23.9999 15.9998 23.9999C21.9998 23.9999 24.8385 23.6266 25.4252 23.4626C25.7505 23.3719 26.0385 23.0719 26.1412 22.6732C26.2865 22.1079 26.6665 19.7333 26.6665 15.9999C26.6665 12.2666 26.2865 9.89325 26.1412 9.32658ZM28.7238 8.66392C29.3332 11.0399 29.3332 15.9999 29.3332 15.9999C29.3332 15.9999 29.3332 20.9599 28.7238 23.3359C28.3852 24.6493 27.3945 25.6826 26.1398 26.0319C23.8612 26.6666 15.9998 26.6666 15.9998 26.6666C15.9998 26.6666 8.1425 26.6666 5.85984 26.0319C4.59984 25.6773 3.6105 24.6453 3.27584 23.3359C2.6665 20.9599 2.6665 15.9999 2.6665 15.9999C2.6665 15.9999 2.6665 11.0399 3.27584 8.66392C3.6145 7.35059 4.60517 6.31725 5.85984 5.96792C8.1425 5.33325 15.9998 5.33325 15.9998 5.33325C15.9998 5.33325 23.8612 5.33325 26.1398 5.96792C27.3998 6.32259 28.3892 7.35459 28.7238 8.66392V8.66392ZM13.3332 20.6666V11.3333L21.3332 15.9999L13.3332 20.6666Z"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="footer__links">
                <li><a href="#">News</a></li>
                <li><a href="#">Tricks&Tips</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Term of use</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav>
        <div class="footer__bottom-block">
            <img src="/img/footer/18plus.svg" alt="18+" height="52">
            <img src="/img/footer/gameCare.svg" alt="game care" height="52">
            <img src="/img/footer/BeGambleAware.svg" alt="bg gable aware" height="52">
            <img src="/img/footer/GLI.svg" alt="GLI" height="52">
            <img src="/img/footer/MGA.svg" alt="MGA" height="52">
            <img src="/img/footer/eCOGRA.webp" alt="eCogra" height="52">
            <img src="/img/footer/GAMB.webp" alt="GAMB" height="52">
            <img src="/img/footer/GPWA.webp" alt="GPWA" height="52">
        </div>
    </div>
</footer>