<div class="pb__gallery-block" id="{{ id }}" data-block="{{ name }}">
    <div class="dropzone pb__image-block_dropzone">
        <div class="dz-message">Drop image here or click to upload</div>
    </div>

    <div class="preview pb__image-block_preview pb__gallery-preview">

    </div>
    <input type="file" class="pb__image-block_input" multiple style="display: none;">
</div>