{% extends 'frontend/layout/base.html.twig' %}

{% block body %}
    <main class="main bg-F6F6F6">
        <section class="mjzjgfhm">
            <picture><source srcset="/frontend/img/bg/404.webp" type="image/webp"><img class="kynjldiz" src="/frontend/img/bg/404.webp" alt="404 error image" width="498"></picture>
            <h1 class="jmmymhzu">Ooops...</h1>
            <p class="mnzgizny">Sorry, we can't find the page you're looking for</p>
            <a href="{{ path('home') }}" class="mjyzzmbk gytwmezw">Back to Home Page</a>
        </section>
    </main>
{% endblock %}