{% extends 'admin/base.html.twig' %}

{% block head_buttons %}
    <a href="{{ path('admin_clear_cache') }}" class="ui__button-primary">
        Clear cache
    </a>
{% endblock %}

{% block body %}
    <form class="ui__form" action="{{ path('admin_settings') }}" method="post">
        {% for option in options %}
            {% if option_template_exists(option.slug) %}
                {% include('admin/settings/options/'~option.slug~'.html.twig') with {"option":option} %}
            {% else %}
                {% include('admin/settings/options/'~option.type~'.html.twig') %}
            {% endif %}
        {% endfor %}

        <button type="submit" class="ui__button-primary">Save</button>
    </form>
{% endblock %}
